<html>
    <head>
        <title></title>
    </head>
    <body>
	
	<div style="width: 900px; margin: 0 auto;">
        <div style="width: 900px; margin: 0 auto; padding-bottom: 25px; padding-left: 20px">
            <header id="headerWrap" style="width: 900px; height: 151px; margin: 0 auto; padding: 10px;">
                <div style="float: left; height: 151px; padding-top: 24px; width: 200px;"><a href="<?php echo APP_URL; ?>" style="background: url('<?php echo APP_URL; ?>images/logo-medium.png') no-repeat scroll 0 0 transparent;float: left;height: 151px;text-decoration: none;text-indent: -9999px;width: 200px;"></a></div>
                <div style="clear: both;"></div>
            </header>
            <div style="clear: both;"></div>
        </div><!--end of bodyBg-->
		<div  style="color: #666666; padding: 20px;">
			<?php echo $this->fetch('content'); ?>
		</div>
	</div>
</body>
</html>