<div class="questionsOptions index">
	<h2><?php echo __('Questions Options'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('question_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('score'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('is_deleted'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($questionsOptions as $questionsOption): ?>
	<tr>
		<td><?php echo h($questionsOption['QuestionsOption']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($questionsOption['Question']['name'], array('controller' => 'questions', 'action' => 'view', $questionsOption['Question']['id'])); ?>
		</td>
		<td><?php echo h($questionsOption['QuestionsOption']['name']); ?>&nbsp;</td>
		<td><?php echo h($questionsOption['QuestionsOption']['description']); ?>&nbsp;</td>
		<td><?php echo h($questionsOption['QuestionsOption']['score']); ?>&nbsp;</td>
		<td><?php echo h($questionsOption['QuestionsOption']['created']); ?>&nbsp;</td>
		<td><?php echo h($questionsOption['QuestionsOption']['modified']); ?>&nbsp;</td>
		<td><?php echo h($questionsOption['QuestionsOption']['is_deleted']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $questionsOption['QuestionsOption']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $questionsOption['QuestionsOption']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $questionsOption['QuestionsOption']['id']), null, __('Are you sure you want to delete # %s?', $questionsOption['QuestionsOption']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Questions Option'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
