<div class="surveyReportSettings form">
<?php echo $this->Form->create('SurveyReportSetting'); ?>
	<fieldset>
		<legend><?php echo __('Edit Survey Report Setting'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('slug');
		echo $this->Form->input('value', array('type'=>'textarea'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('SurveyReportSetting.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('SurveyReportSetting.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Survey Report Settings'), array('action' => 'index')); ?></li>
	</ul>
</div>
