<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>

<div class="users form">
    <span style="font-size: 72px;">WELCOME!!! :D</span>
</div>

<?php  echo $this->element('user_links'); ?>