
/* CSS BROWSER HACKS*/

/*-------------------------------------------------------*/
/*  FOR SAFARI
/*-------------------------------------------------------*/

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	/*Sample*/
    /* Safari and Chrome */
    .myClass {
     color:red;
    }
    /* Safari only override */
    ::i-block-chrome, .myClass {
     color:red;
    }
    .table-responsive {   overflow-x : visible !important;}


	.cnum{
		width: 35.2%;
	}
	/* Safari only override */
    ::i-block-chrome, .cnum {
    	width: 35.3%!important;
    }
 

}


/*-------------------------------------------------------*/
/*  FOR IE9 only CSS styles go here */
/*-------------------------------------------------------*/
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) { 




}

/*-------------------------------------------------------*/
/*  FOR IE10+ CSS styles go here */
/*-------------------------------------------------------*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 	/*Sample*/
    .foo { color: green } /* IE10 ONLY*/
    *::-ms-backdrop, .foo { color: red } /* IE11 ONLY*/

	.cnum{
		width: 35.4%;
	}



}



