
/* FONT STYLES
-------------------------------------------------- */

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham_book_regular-webfont.eot');
    src: url('../fonts/gotham_book_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_book_regular-webfont.woff2') format('woff2'),
         url('../fonts/gotham_book_regular-webfont.woff') format('woff'),
         url('../fonts/gotham_book_regular-webfont.ttf') format('truetype'),
         url('../fonts/gotham_book_regular-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambookitalic';
    src: url('../fonts/gothambook_italic-webfont.eot');
    src: url('../fonts/gothambook_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambook_italic-webfont.woff2') format('woff2'),
         url('../fonts/gothambook_italic-webfont.woff') format('woff'),
         url('../fonts/gothambook_italic-webfont.ttf') format('truetype'),
         url('../fontsgothambook_italic-webfont.svg#gothambookitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_mediumitalic';
    src: url('../fonts/gotham_medium_italic-webfont.eot');
    src: url('../fonts/gotham_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/gotham_medium_italic-webfont.woff') format('woff'),
         url('../fonts/gotham_medium_italic-webfont.ttf') format('truetype'),
         url('../fonts/gotham_medium_italic-webfont.svg#gotham_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'minion_pro_italic';
  src: url('../fonts/minion_pro_italic.ttf') format('truetype');
}

@font-face {
  font-family: 'gotham_bold';
  src: url('../fonts/gotham_bold.otf') format('opentype');
}
