
/* MEDIA QUERIES
-------------------------------------------------- */

@media only screen and (max-width : 319px) { }

@media (min-width:320px) and (max-width:767px) {
	.container{
		width: 100%!important;
	}
	.logo{
		margin: 0 auto 0 !important;
		display: block!important;
	}
	.line{
		width: 100%!important;
		margin: 10px 0!important;
	}
	.line p{
		text-align: center!important;
		margin: 15px 0 0 !important;
	}
	p.preport-text{
		text-align: center!important;
	}
	.content{
		padding:  0 0;
	}
	.content .icon-holder{
		float: none!important;
		margin: 0 auto!important;
		display: block!important;
		text-align: center!important;
		padding: 15px!important;
		height: auto!important;
	}
	.content .text-holder{
		padding-bottom: 10px!important;
	}
	.content .text-holder h4{
		text-align: center!important;
	}
	.content .text-holder p{
		text-align: center!important;
	}
	.footer-line-left{
		width: 100%!important;
		float: none!important;
		margin: 0!important;
		padding: 0!important;
	}
	.footer-line-right{
		width: 100%!important;
		float: none!important;
		margin: 0!important;
		padding: 0!important;
	}
	.footer-line-right p{ 
		text-align: left!important;
	}
	.footer-line-right p, .footer-line-left p{
		padding: 0 10px!important;
		margin: 0!important;
		display: block!important;
	}
	.footer-line{
		margin-top: 10px!important;
		margin-left: 0!important;
	}
	footer .logo{
		margin-bottom: 20px!important;
	}

}/* >> end query  */

@media (min-width:768px) and (max-width:991px) { 

	.container{
		width: 100%!important;
	}
	.logo{
		margin: 0 auto!important;
		display: block!important;
	}
	.line{
		width: 100%!important;
		margin: 10px 0!important;
	}
	.line p{
		text-align: center!important;
		margin: 15px 0!important;
	}
	p.preport-text{
		text-align: center!important;
	}
	.content{
		padding:  0 15px!important;
	}
	.footer-line-right p, .footer-line-left p{
		padding: 0 10px!important;
	}

}/* >> end query  */

@media (min-width:992px) and (max-width:1199px) { 
	.container{
		width: 942px!important;
	}
	p.preport-text{
		padding-top: 15px;
	}
	.footer-line{
		width: 870px!important;
		margin-left: 20px!important;
	}
	.footer-line-left p{
		margin-left: 20px!important;
	}

}/* >> end query  */

@media (min-width:1280px) and (max-width:1366px) { 

}/* >> end query  */

@media screen and (min-width: 1400px) { }

@media screen and (min-width: 1600px) { }

@media screen and (min-width: 1900px) { }
