<div class="standardThemes index">
	<h2><?php echo __('Standard Themes'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('icon'); ?></th>
			<th><?php echo $this->Paginator->sort('color'); ?></th>
			<th><?php echo $this->Paginator->sort('is_deleted'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($standardThemes as $standardTheme): ?>
	<tr>
		<td><?php echo h($standardTheme['StandardTheme']['id']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['name']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['description']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['icon']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['color']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['is_deleted']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['created']); ?>&nbsp;</td>
		<td><?php echo h($standardTheme['StandardTheme']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $standardTheme['StandardTheme']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $standardTheme['StandardTheme']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $standardTheme['StandardTheme']['id']), null, __('Are you sure you want to delete # %s?', $standardTheme['StandardTheme']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Standard Theme'), array('action' => 'add')); ?></li>
	</ul>
</div>
