<p><span><?php echo $report_settings['groups_title']; ?></span> <?php echo $report_settings['groups_text']; ?></p>
            
<p>
    <?php foreach($result['groups'] as $key=>$group){ ?>
        <?php echo $group['Group']['name']; ?>
        <?php if($key<sizeof($result['groups'])-1){ ?>
            <br/>
        <?php } ?>
    <?php } ?>
</p>