<div class="surveys form">
<?php echo $this->Form->create('Survey'); ?>
	<fieldset>
<!--		<legend><?php echo __('Email Verification'); ?></legend>-->
	<?php
                echo $this->Form->input('id');
				echo $this->Form->input('email_verification_on', array(
                    'type'=>'radio',
                    'value'=>$this->data['Survey']['email_verification_on'],
                    'options' => array('1'=>'on', '0'=>'off'),
					'legend' => 'Email Verification'
                ));
              

	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>