/* 
    Document   : style
    Created on : 07 30, 13, 6:19:16 PM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    padding: 70px 50px 40px;
}

body.take-survey {
    padding: 0;
}

.form-signin, .form-signup, .form-forgot-password {
    /*max-width: 300px;*/
    padding: 19px 29px 29px;
    /*margin: 100px auto 20px;*/
    margin-bottom: 20px;
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
/*.form-signup {
    max-width: 500px;
}
.form-forgot-password {
    max-width: 500px;
}*/
.form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
} 
.form-signin input[type="text"],
    .form-signin input[type="password"] {
    margin-bottom: 15px;
    font-size: 16px;
    /*height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;*/
}
.error-message {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    font-size: 11px;
    font-style: italic;
    /* padding: 3px 10px; */
    padding: 3px;
    margin-top: 5px;
}

dl > dd {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

dl > dt {
    font-style: italic;
    border-bottom: 1px solid #ccc;
}

.action-item {
    cursor: pointer;
}

fieldset.add_more div.input{
    float:left;
    width: 225px;
    margin-right: 20px;
}
fieldset.add_more div.input input{
    /*width: 205px !important;*/
}

fieldset.add_more a.add_another,fieldset.add_more a.add_another_fieldset{
    margin-top: 25px;
}
div#survey_result table thead tr th{
    text-align: center;
}
#question-noresponse{
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}
#question-noresponse input[type="checkbox"]{
    margin-left: 0;
}
td.option-points{
    padding-left: 25px;
}
td.option-points-na{
    padding-left: 20px;
}
#report-legend #legend-title{
    margin-bottom:5px;
}
#report-legend .legend{
    margin-bottom: 2px;
    font-size: 11px;
}
#report-legend .legend .legend-color{
    width: 15px;
    height:15px;
    float:left;
    margin: 1px 5px 0;
}
#report-legend .legend .legend-name{
    float: left;
}
footer{
    bottom: 15px;
    font-size: 11px;
    left: 0;
    margin: auto;
/*    position: absolute;*/
    text-align: center;
    width: 100%
}

/*12-19-2014*/
fieldset.add_more div.input.number{
    width: 80px;
}
fieldset.add_more div.input input.option-score{
    width: 50px !important;
    padding: 0;
    text-align: center;
}

/*01-07-2014*/
#save-and-add{
    margin-top: 10px;
}
.radio.inline{
    /*margin-right: 10px;*/
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 150px;
    padding-left: 0;
    margin-left: 0 !important;
    position:relative;
}
.radio.inline input[type="radio"]{
    float: none;
    margin-left: 0;
}
.radio.inline label{
    margin-top: 10px;
    display: block;
}
td.open-ended{
    text-align: center;
}
.clear{
    clear: both;
}
.table > tbody > tr > td.actions.survey-index{
    padding: 8px 4px;
}

div.upload-success-buttons a.btn,div.survey-builder-buttons a.btn,div.survey-buttons a.btn{
    margin: 0 10px 10px 0;
}

fieldset.add_more a.remove{
    margin-top: 25px;
}

div#non-calculating.input.checkbox{
    padding-left: 0;
}
div#non-calculating.input.checkbox input#QuestionIsCalculating, div#non-calculating.input.checkbox input#StandardQuestionIsCalculating{
    margin-left: 0;
}
div#manual-questionnaire,div#upload-questionnaire{
    float:left;
}
div#manual-questionnaire{
    margin-top:15px;
}
span#upload-questionnaire-or{
    float:left;
    width:100px;
    display:block;
    text-align:center;
    margin-top: 20px;
}
span.header-subtext{
    font-size: 10px;
}
span.required{
    color: #ff0000;
}
hr.likert-connect{
    border-top: 1px solid #ccc;
    color: red;
    left: -69px;
    position: absolute;
    top: -9px;
    width: 100%;
}

div.tool-name{
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 12px;
}
div.survey-name{
    font-size: 36px;
    margin-bottom: 30px;
}
div.company-name{
    margin-bottom:35px;
    font-size: 18px;
}
img.survey-logo{
    margin-left: 10px;
}

div#toolname-wrapper{
    display: block;
}
div#toolname-wrapper div.input, div#companyname-wrapper div.input, div#surveyname-wrapper div.input{
    width: 150px;
    float:left;
}
div#toolname-wrapper div.input:first-child, div#companyname-wrapper div.input:first-child{
    width: 300px;   
}
div#toolname-wrapper div.input:first-child label, div#companyname-wrapper div.input:first-child label,div#background-wrapper div.input:first-child label{
    font-weight: bold;
}
/*.survey-header-logo{
    height: 75px;
    width: auto;
}*/

.paging span{
	margin-right: 5px;
}

.btn-gen-settings {float: right;}


input.standard-theme{
    top: 25%;
}
span.standard-theme-name{
    margin-left: 5px;
}
img.standard-theme-icon{
    display: inline;
}

table td.actions .btn,
    table td.actions .btn-group {
        font-size: 13px;
    }
/**
* 12-29-2015
* CSS Breakpoints 
**/



/* 1-26-16 */ 

.container > .row > .surveys label, 
#UserForgotPasswordForm label,
#UserRegisterForm label,
#QuestionAddQuestionForm label,
#UserIndexForm label,
#UserChangeSubscriberPasswordForm label,
#SubscriberSettingSurveyHeaderForm label,
#SettingEditForm label{
    font-weight: normal;
} 

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    box-shadow: 0 0 6px #f8b9b7;
    border-color: #e9322d;
    color: #b94a48 !important;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    
}

/*2-01-2016*/
div.likert_no_response{
    margin-left: 68px;
}

#myTab{
    margin-bottom: 20px;
}

.choose-group-add fieldset a.add_another, .choose-group-add fieldset a.remove{
    margin-top: 10px;
}
/*.choose-group-add fieldset input{
    margin-top: 10px;
}*/

.choose-theme-add fieldset label{
    font-weight: normal;
}

.survey-build .dimensions li{
    margin-bottom: 5px;
}

.btn-themes {
    background-color: #4DAC83;
    border-color: #429270;
    color: #fff;
}

.btn-themes:hover {
    background-color: #429270;
    border-color: #36785C;
    color: #fff;
}

.btn-questions {
    background-color: #F0684B;
    border-color: #D65D43;
    color: #fff;
}

.btn-questions:hover {
    background-color: #D65D43;
    border-color: #BC523B;
    color: #fff;
}

div.surveys.index table tr td.actions a,
div.surveys.index table tr td.actions button {
    font-size: 12px;
}

/***** Take Survey Pages ****/
div.take-survey form {
    margin: 10px 0 20px;
    /*margin-bottom: 20px;*/
}
div.take-survey form label{
    font-weight: normal;
}

div.take-survey form div.radio.inline label{
    margin-top:30px;
}

.take-survey footer{
    padding-bottom: 40px;
}

.take-survey div.likert_no_response{
    margin-left: 95px;
}

span.vertical-line {display: none;}


/*04-11-2016*/
.tooltip-inner {
    text-align: left;
}
.tooltip-img {
    margin: -3px 0 0 5px;
}

/*05-10-2016*/
.survey-build h4{
    margin-top: 20px;
}
.icon-def{
    font-style: italic;
    font-size: 12px;
}

p.group-exceed-message{
    font-style: italic;
}


.survey-header-row {
    margin: 35px 0;
    display: flex;
    align-items: center;
}


.survey-header-row .image-col .survey-header-logo {
    display: inline;
    margin-left: 103px;
}

.btn-gen-settings.survey-header-link {
    margin-right: 5px;
}

.survey-header-row h1.survey-name {
    margin-right: 70px;
    font-family: 'Arial';
    text-align: right;
    font-weight: bold;
}
.survey-header-row h1.survey-name span {
    color: #b8b631;
}

#ui-datepicker-div .ui-datepicker-title {
    margin: 0 auto;
    max-width: 148px;
}
#ui-datepicker-div .ui-datepicker-title:after {
    content: " ";
    display: block;
    clear: both;
}
#ui-datepicker-div .ui-datepicker-year,
#ui-datepicker-div .ui-datepicker-month {
    width: 50%;
}
#ui-datepicker-div .ui-datepicker-month {
    float: right;
    margin: 2px 0 0;
}

@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    table td.actions .btn,
    table td.actions .btn-group {
        display: block;
        width: 100%; 
        font-size: 11px !important;
    }

    table td.actions .btn {padding: 6px 0;}

    .surveys.index table.table > tbody > tr > td, .table > tbody > tr > th{
        font-size: 11px;
    }

    .surveys.index table td.actions .btn-group .dropdown-menu { 
        left: -160px;
    }

    .form-signup input[type="text"] {
        margin-bottom: 15px
    }
    .btn-gen-settings {float: none;}
    .surveys.index > a.btn{
        margin-bottom: 10px;
    }
    
    img.standard-theme-icon{
        max-width: 35px;
    }
    
    input.standard-theme{
        top: 20%;
    }
}

@media (max-width: 980px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .radio.inline {
        display: block;
        margin-bottom: 0;
        margin-left: 0 !important;
        margin-top: -5px;
        padding-left: 0;
        position: relative;
        text-align: left;
        width: 150px; 
    }

    div.take-survey form div.radio.inline label {
        margin-top: 0;
    }

    span.vertical-line {
        background-color:#ccc;
        display: block;
        height: 50px;
        margin: -3px 5px 0;
        width: 1px;
    }

    #QuestionAnswerForm div.test:last-of-type {
        display:none;
    }

    hr.likert-connect {display: none;}

    .take-survey div.likert_no_response{
        margin: 40px 0 0 20px;
    }
    .take-survey div.likert_no_response label{
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .survey-header-row .image-col .survey-header-logo {
        margin-top: 30px;
        margin-left: 0;
    }

    .survey-header-row {
        display: block;
    }

    .survey-header-row .image-col{
        text-align: center;
    }

    .survey-header-row h1.survey-name {
        text-align: center;
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    
    td.actions .btn {
        margin: 5px 0;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}
