<div class="questionGroups index">
	<h2><?php echo __('Question Groups'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('question_id'); ?></th>
			<th><?php echo $this->Paginator->sort('uq_group_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($questionGroups as $questionGroup): ?>
	<tr>
		<td><?php echo h($questionGroup['QuestionGroup']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($questionGroup['Question']['id'], array('controller' => 'questions', 'action' => 'view', $questionGroup['Question']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($questionGroup['UqGroup']['name'], array('controller' => 'uq_groups', 'action' => 'view', $questionGroup['UqGroup']['id'])); ?>
		</td>
		<td><?php echo h($questionGroup['QuestionGroup']['created']); ?>&nbsp;</td>
		<td><?php echo h($questionGroup['QuestionGroup']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $questionGroup['QuestionGroup']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $questionGroup['QuestionGroup']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $questionGroup['QuestionGroup']['id']), null, __('Are you sure you want to delete # %s?', $questionGroup['QuestionGroup']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Question Group'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Uq Groups'), array('controller' => 'uq_groups', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Uq Group'), array('controller' => 'uq_groups', 'action' => 'add')); ?> </li>
	</ul>
</div>
