<div class="respondentPasscodes form">
<?php echo $this->Form->create('RespondentPasscode'); ?>
	<fieldset>
		<legend><?php echo __('Add Respondent Passcode'); ?></legend>
	<?php
		echo $this->Form->input('survey_id');
		echo $this->Form->input('group_id');
		echo $this->Form->input('name');
		echo $this->Form->input('passcode');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Respondent Passcodes'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Surveys'), array('controller' => 'surveys', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Survey'), array('controller' => 'surveys', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Groups'), array('controller' => 'groups', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Group'), array('controller' => 'groups', 'action' => 'add')); ?> </li>
	</ul>
</div>
