<div class="respondentPasscodes index">
	<h2><?php echo __('Respondent Passcodes'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('survey_id'); ?></th>
			<th><?php echo $this->Paginator->sort('group_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('passcode'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($respondentPasscodes as $respondentPasscode): ?>
	<tr>
		<td><?php echo h($respondentPasscode['RespondentPasscode']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($respondentPasscode['Survey']['name'], array('controller' => 'surveys', 'action' => 'view', $respondentPasscode['Survey']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($respondentPasscode['Group']['name'], array('controller' => 'groups', 'action' => 'view', $respondentPasscode['Group']['id'])); ?>
		</td>
		<td><?php echo h($respondentPasscode['RespondentPasscode']['name']); ?>&nbsp;</td>
		<td><?php echo h($respondentPasscode['RespondentPasscode']['passcode']); ?>&nbsp;</td>
		<td><?php echo h($respondentPasscode['RespondentPasscode']['created']); ?>&nbsp;</td>
		<td><?php echo h($respondentPasscode['RespondentPasscode']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $respondentPasscode['RespondentPasscode']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $respondentPasscode['RespondentPasscode']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $respondentPasscode['RespondentPasscode']['id']), null, __('Are you sure you want to delete # %s?', $respondentPasscode['RespondentPasscode']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Respondent Passcode'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Surveys'), array('controller' => 'surveys', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Survey'), array('controller' => 'surveys', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Groups'), array('controller' => 'groups', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Group'), array('controller' => 'groups', 'action' => 'add')); ?> </li>
	</ul>
</div>
