/* CUSTOM CSS STYLES
-------------------------------------------------- */

/* Import css files*/
@import url('css/fonts-style.css');
@import url('css/responsive-style.css');
@import url('css/browser-hacks.css');

body{
	padding-bottom: 20px;
	padding-top: 70px;
}

/*-------------------------------------------------------*/
/*  HEADER AREA
/*-------------------------------------------------------*/
.logo-wrap {
    width: 9.6%;
}
.line{
	background: url('images/green-line.png') repeat-x center bottom; 
	display: inline-block; 
	width: 89.3%;
	padding: 0;
}
.line p{
	text-align: right;
	margin-bottom: 21px;
	margin-top: 12px;
	color: #898989;
  	font-family: 'gotham_bold';
	font-size: 15.22px;
}
.line span{
	color: #2f5f82;
}
p.preport-text{
	color: #898989;
	font-size: 15.22px;
  	font-family: 'gotham_bold';
	text-align: right;
}
p.preport-text span{
	color: #2f5f82;
}
.content{
	padding: 15px 0;
}
.content h1{
	color: #2f5f82;
	font-family: 'gotham_bookregular';
	font-size: 28.54px;
	text-align: center;
}
.content p{
	color: #000;
	font-size: 16px;
	font-family: 'gotham_bookregular';
	padding: 10px 0;
}
.content li{ 
	color: #000;
	font-size: 16px;
	font-family: 'gotham_bookregular';
	padding-left: 15px;
}
.content span {
	color: #41ad49;
	font-family: 'gotham_bold';
}
.content h6 {
	color: #41ad49;
	font-size: 17.13px;
  	font-family: 'gotham_bold';
	padding: 10px 0;
}
.content h5 {
	color: #41ad49;
	font-family: 'gotham_bold';
	font-size: 15.25px;
}

.text-pink{ color: #d63a71!important; }
.text-lightpink{ color: #eca09c!important; }
.text-yellow{ color: #e0b81f!important; }
.text-lightgray{ color: #aeaeb0!important; }
.text-lightbrown{ color: #c49a6b!important; }
.text-lightgreen{ color: #afce5c!important; }
.text-lightorange{ color: #de6045!important; }
.text-navyblue{ color: #2d5f82!important; }

.content .icon-holder{
	float: left;
	padding: 0 15px 0 30px;
	height: 100px;
	width: 100px;
}
.content .text-holder{
	padding-bottom: 20px;
}
.content .text-holder h4{
	font-size: 17.12px;
    font-family: 'gotham_mediumitalic';
    margin: 0;
}
.content .text-holder p{
   color: #2f5f82;
   font-family: 'minion_pro_italic';
   font-size: 17.12px;
}
.tbg-gray{
	background: #d1d2d4;
}
.report-heading {
	width: 100%;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}
.report-heading img {
	margin-right: 20px;
}
.report-heading span {
	font-size: 36px;
	font-weight: bold;
	color: #000;
}

/*-------------------------------------------------------*/
/*  Page 2
/*-------------------------------------------------------*/
.page2 tr, .page2 th, .page2 td{
	font-family: 'gotham_bookregular';
	font-size: 13px;
	text-align: center;
	border: 1px solid #231f20!important;
	color: #000;
}

.page2 td{
	font-family: 'gotham_bold';	
}
.page2 .theader1{
	background: #231f20;
	color: #fff;
}


/*-------------------------------------------------------*/
/*  Page 3
/*-------------------------------------------------------*/

.page3 .icon-holder {
	padding: 0;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.page3 .text-holder{
	padding-top: 35px;
}
.page3 .text-holder h4{
	font-size: 19px;
}
.page3 thead th{
    font-family: 'gotham_bold';
	font-size: 12px;
	text-align: center;
	border: 1px solid #231f20!important;
	color: #000;
	font-weight: normal!important;
}
.page3 tbody td{
	font-family: 'gotham_bookregular';
	font-size: 12px;
	text-align: center;
	border: 1px solid #231f20!important;
	color: #000;
	font-weight: normal!important;
	padding: 8px 0!important;
}
.page3 thead tr th:first-child{
	width: 30%;
}
.page3 tbody tr td:first-child{
	width: 30%;
}
.page3 thead tr th:nth-child(2){
	width: 8%;
}
.page3 tbody tr td:nth-child(2){
	width: 8%;
}
.progress{
	margin-bottom: 0!important;
	border-radius: 0!important;
}

.progress-bar-pink{
	background: #d63a71;
}
.progress-bar-lightpink{
	background: #eca09c;
}
.progress-bar-yellow{
 	background: #e0b81f;
}
.progress-bar-lightgray{
	background: #B3B6B9;
}

.progress-bar-darkgray{
    background: #5B6060;
}


/*-------------------------------------------------------*/
/*  Page 4
/*-------------------------------------------------------*/

.page4  table tbody {
	border-left: 1px solid #000;
}
.page4 table.pg4-table1{
	border-collapse: inherit!important;
}
.page4  th  {
	border-bottom: 1px solid #000!important;
	color: #000;	
	font-family: 'gotham_bookregular';
	font-size: 15px;
	font-weight: normal!important;
	text-align: center;
}
.page4 tbody td{
	border: 1px solid #000;
}
.page4 td{
	border: 1px solid #231f20!important;
	color: #000;	
	font-family: 'gotham_bookregular';
	font-size: 15px;
	padding: 10px!important;
}


/*-------------------------------------------------------*/
/*  Page 5
/*-------------------------------------------------------*/

.page5 td{
	border: 1px solid #231f20!important;
	color: #000;	
	font-family: 'gotham_bookregular';
	font-size: 15px;
	padding-left: 15px!important;
}


/*-------------------------------------------------------*/
/*  Page 8
/*-------------------------------------------------------*/

.page8 th{
 	font-weight: normal!important;
 	padding: 15px!important;
}
.page8 tr, .page8 th, .page8 td{
	font-family: 'gotham_bookregular';
	font-size: 15px;
	text-align: center;
	border: 1px solid #231f20!important;
	color: #000;
}

.bordered-th th {
	border: 1px solid #231f20!important;
}


/*-------------------------------------------------------*/
/*  FOOTER AREA
/*-------------------------------------------------------*/

.footer-line{
	background: url('images/green-line.png') top;
	/*width: 945px;*/
	display: block;
	height: 3px;
	/*margin-top: 70px;
	margin-bottom: 20px;
	margin-left: 10px;*/
}
.footer-line-right p, .footer-line-left p{
	color: #898989;
  	font-family: 'gotham_bold';
	font-size: 15.22px;

}
.footer-line-right span, .footer-line-left span{
	color: #2f5f82;
}
.footer-line-right{
	text-align: right;
	width: 50%;
	display: inline;
	float: right;

	margin-top: 50px;
}
.footer-line-left{
	/*text-align: left;
	width: 50%;
	display: inline;
	float: left;*/

	margin-top: 50px;
}
/*.footer-line-left p{
	margin-left: 10px;
}*/

/* Report Navbar */

/*nav.report-navbar .navbar-nav > li > a{
	padding: 10px 15px;
}

nav.report-navbar {
	min-height: 20px;
}

nav.report-navbar .navbar-inner {
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #222, #111);
    background-repeat: repeat-x;
    border: 1px solid #252525; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    min-height: 40px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
}

@media (min-width:768px){
	nav.report-navbar .container {padding: 0;}
}*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .logo-wrap {
        width: 12%;
    }
    .line {
        width: 88%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .logo-wrap {
        width: 15%;
    }
    .line {
        margin: 4px 0 !important;
        width: 84% !important;
    }
    .line p {
        text-align: right !important;
    }
}
 
@media (max-width:767px){
	.line {
		background-position: center top;
		width: 100%;
	} 
	.logo-wrap{
		width: 100%;
	}
} 

.table_oe table{
    width: 100%;
}

#export_word{
    margin: 30px 0 50px;;
}

/* 1-26-16 */

#flashMessage {
    margin-top: 20px;
}

/* 1-28-2016 */
span.green.report_header, h2.report_header_name{
    font-weight: normal;
    font-family: 'gotham_bookregular';
}

h2.report_header_name{
    margin-top: 0px;
    text-align: center;
}
.blue,h5.blue{
    color: #2f5f82;
}
.green {
    color: #41ad49;
}
.content p.blue {
    color: #264C68;
}

.table-1.table>thead>tr>th {
    padding: 8px 2px;
}


@media (min-width: 768px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

body > div > div > div.page2 > div > table > tbody > tr > td:nth-child(1) {
     font-size: 10px;
}
