<div class="surveySettings form">
<?php echo $this->Form->create('SurveySetting'); ?>
	<fieldset>
		<legend><?php echo __('Footer'); ?></legend>
		<div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4">
				<?php
			//		echo $this->Form->input('id');
			//		echo $this->Form->input('name');
			//		echo $this->Form->input('slug');
					echo $this->Form->input('value', array('label'=>false, 'class'=>'form-control','div'=>array('class'=>'form-group input text'), 'value'=>$footerTxt));
			//		echo $this->Form->input('survey_id', array('type'=>'hidden'));
				?>
			</div>
		</div>
	</fieldset>
        <?php echo $this->Form->submit( __('Submit'), array('class' => 'btn btn-success')) ?>
</div>
<br /><br />
<?php echo $this->element('view_manage_survey_btn'); ?>