<div class="uqGroups index">
	<h2><?php echo __('Uq Groups'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($uqGroups as $uqGroup): ?>
	<tr>
		<td><?php echo h($uqGroup['UqGroup']['id']); ?>&nbsp;</td>
		<td><?php echo h($uqGroup['UqGroup']['name']); ?>&nbsp;</td>
		<td><?php echo h($uqGroup['UqGroup']['created']); ?>&nbsp;</td>
		<td><?php echo h($uqGroup['UqGroup']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $uqGroup['UqGroup']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $uqGroup['UqGroup']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $uqGroup['UqGroup']['id']), null, __('Are you sure you want to delete # %s?', $uqGroup['UqGroup']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Uq Group'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Question Groups'), array('controller' => 'question_groups', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question Group'), array('controller' => 'question_groups', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List User Groups'), array('controller' => 'user_groups', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User Group'), array('controller' => 'user_groups', 'action' => 'add')); ?> </li>
	</ul>
</div>
