<div class="surveys form">
<?php echo $this->Form->create('Survey'); ?>
	<fieldset>
		<legend><?php echo __('Edit Welcome Message'); ?></legend>
	<?php
		echo $this->Form->input('id');
                echo $this->Form->input('welcome_message', array('type'=>'textarea', 'style'=>'width: 500px; height: 200px;'));
	
              

	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
