<div class="questionsAnswers index">
	<h2><?php echo __('Questions Answers'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('question_id'); ?></th>
			<th><?php echo $this->Paginator->sort('answer_option_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($questionsAnswers as $questionsAnswer): ?>
	<tr>
		<td><?php echo h($questionsAnswer['QuestionsAnswer']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($questionsAnswer['User']['id'], array('controller' => 'users', 'action' => 'view', $questionsAnswer['User']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($questionsAnswer['Question']['id'], array('controller' => 'questions', 'action' => 'view', $questionsAnswer['Question']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($questionsAnswer['AnswerOption']['id'], array('controller' => 'answer_options', 'action' => 'view', $questionsAnswer['AnswerOption']['id'])); ?>
		</td>
		<td><?php echo h($questionsAnswer['QuestionsAnswer']['created']); ?>&nbsp;</td>
		<td><?php echo h($questionsAnswer['QuestionsAnswer']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $questionsAnswer['QuestionsAnswer']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $questionsAnswer['QuestionsAnswer']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $questionsAnswer['QuestionsAnswer']['id']), null, __('Are you sure you want to delete # %s?', $questionsAnswer['QuestionsAnswer']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Questions Answer'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Answer Options'), array('controller' => 'answer_options', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Answer Option'), array('controller' => 'answer_options', 'action' => 'add')); ?> </li>
	</ul>
</div>
