<html>
    <head>
        <title></title>
    </head>
    <body>
	
	<div style="border: 1px solid #999999; width: 700px; margin: 0 auto;">
        <div style="width: 700px; margin: 0 auto; padding-bottom: 25px; padding: 0">
            <header id="headerWrap" style="width: 700px; height: 128px; margin: 0 auto; padding: 10px;">
                <div style="float: left; height: 104px; padding-top: 24px; width: 277px;"><a href="<?php echo APP_URL; ?>" style="background: url('<?php echo APP_URL; ?>images/logo.png') no-repeat scroll 0 0 transparent;float: left;height: 104px;text-decoration: none;text-indent: -9999px;width: 277px;"></a></div>
                <div style="clear: both;"></div>
            </header>
            <div style="clear: both;"></div>
        </div><!--end of bodyBg-->
		<div  style="color: #666666; padding: 20px;">
			<?php echo $this->fetch('content'); ?>
		</div>
	</div>
</body>
</html>