<div class="surveys form">
<?php echo $this->Form->create('Survey'); ?>
	<fieldset>
		<legend><?php echo __('Edit Closing Message'); ?></legend>
	<?php
		echo $this->Form->input('id');
                echo $this->Form->input('closing_message', array('type'=>'textarea', 'style'=>'width: 500px; height: 200px;', 'value'=>$this->request->data['Survey']['closing_message']?$this->request->data['Survey']['closing_message']:'Thank you for taking the time to answer this survey!'));
	
              

	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
