<p>
<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total')
	));
?>
</p>

<div class="pagination">
<?php
    echo $this->Paginator->first('<< first');
    echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
    echo $this->Paginator->numbers(array('separator' => ''));
    echo $this->Paginator->next(__(' next') . ' >', array(), null, array('class' => 'next disabled'));
    echo $this->Paginator->last('last >>');
?>
</div>