
        <p>Hello <?php  echo $user['User']['first_name']. ' '. $user['User']['last_name']?>,</p>
        <p><?php echo $emailContent; ?></p>

        <p>New Password: <?php echo $temp_password?></p>
        <br />
        <?php echo $signature; ?>