<div class="surveySettings index">
	<h2><?php echo __('Survey Settings'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('slug'); ?></th>
			<th><?php echo $this->Paginator->sort('value'); ?></th>
			<th><?php echo $this->Paginator->sort('survey_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($surveySettings as $surveySetting): ?>
	<tr>
		<td><?php echo h($surveySetting['SurveySetting']['id']); ?>&nbsp;</td>
		<td><?php echo h($surveySetting['SurveySetting']['name']); ?>&nbsp;</td>
		<td><?php echo h($surveySetting['SurveySetting']['slug']); ?>&nbsp;</td>
		<td><?php echo h($surveySetting['SurveySetting']['value']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($surveySetting['Survey']['name'], array('controller' => 'surveys', 'action' => 'view', $surveySetting['Survey']['id'])); ?>
		</td>
		<td><?php echo h($surveySetting['SurveySetting']['created']); ?>&nbsp;</td>
		<td><?php echo h($surveySetting['SurveySetting']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $surveySetting['SurveySetting']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $surveySetting['SurveySetting']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $surveySetting['SurveySetting']['id']), null, __('Are you sure you want to delete # %s?', $surveySetting['SurveySetting']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Survey Setting'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Surveys'), array('controller' => 'surveys', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Survey'), array('controller' => 'surveys', 'action' => 'add')); ?> </li>
	</ul>
</div>
