<div class="surveySettings form">
<?php echo $this->Form->create('SurveySetting', array('type' => 'file')); ?>
	<fieldset>
		<legend><?php echo __('Header'); ?></legend>
	<?php
//		echo $this->Form->input('id');
//		echo $this->Form->input('name');
//		echo $this->Form->input('slug');
		echo $this->Form->input('tool_name', array('style'=>'width: 300px;', 'value'=>$toolName));
                echo $this->Form->input('company_name', array('style'=>'width: 300px;', 'value'=>$companyName));
                ?>
                <img src="<?php echo $this->webroot.'files/logos/'.$logo; ?>" style="margin-bottom:10px;"/>
                <?php
                echo $this->Form->input('logo', array('type'=>'file', 'label'=>'Change Logo'));
//		echo $this->Form->input('survey_id', array('type'=>'hidden'));
	?>
	</fieldset>
    <br />
        <?php echo $this->Form->submit( __('Submit'), array('class' => 'btn btn-primary')) ?>
</div>
