/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font: 12px 'Arial';
	line-height: 1;
	background: url('../images/bg-content.jpg');
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a img, p, input, textarea{
	-webkit-transition: all 0.18s ease-out;
	-moz-transition: all 0.18s ease-out;
	-ms-transition: all 0.18s ease-out;
	-o-transition: all 0.18s ease-out;
	transition: all 0.18s ease-out;
	outline:none;
}

a {
	text-decoration: none;
}

input[type="submit"] {
	cursor: pointer;
}

@font-face {
    font-family: 'Colab';
    src: url('../fonts//ColabReg-webfont.eot');
    src: url('../fonts//ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts//ColabReg-webfont.woff') format('woff'),
         url('../fonts//ColabReg-webfont.ttf') format('truetype'),
         url('../fonts//ColabReg-webfont.svg#Colab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColabLight';
    src: url('../fonts//ColabLig-webfont.eot');
    src: url('../fonts//ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts//ColabLig-webfont.woff') format('woff'),
         url('../fonts//ColabLig-webfont.ttf') format('truetype'),
         url('../fonts//ColabLig-webfont.svg#ColabLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColabMed';
    src: url('../fonts//ColabMed-webfont.eot');
    src: url('../fonts//ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts//ColabMed-webfont.woff') format('woff'),
         url('../fonts//ColabMed-webfont.ttf') format('truetype'),
         url('../fonts//ColabMed-webfont.svg#ColabMed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColabBold';
    src: url('../fonts//ColabBol-webfont.eot');
    src: url('../fonts//ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts//ColabBol-webfont.woff') format('woff'),
         url('../fonts//ColabBol-webfont.ttf') format('truetype'),
         url('../fonts//ColabBol-webfont.svg#ColabBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear{
	height:0;
	clear:both;
}

.bold{
	font-weight:bold;	
}

.padding0{
	padding:0 !important;
}

.paddingtop0{
	padding-top:0 !important;
}

.margin0{
	margin:0 !important;
}

.border0{
	border:0 !important;
}

.background0 {
	background: none !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.container {
	width: 960px;
	position: relative;
	margin: 0 auto;
	zoom: 1;
}

h1 {
	font: 19px 'ColabBold';
	color: #ececec;
}

h2 {
	color: #5da725;
	padding-bottom: 14px;
	font: 20px/20px 'Avenir';
}

h3 {
	padding-bottom: 21px;
	font: 18px 'MyriadSemibold';
	color: #fff;
}

h4 {
	padding: 0 0 35px 6px;
	font: 19px 'MyriadBold';
	color: #fff;
}

h5 {
	padding-bottom: 14px;
	font: bold 14px 'Arial';
	color: #4d4d4d;
}

h6 {
	padding: 20px 12px;
	background: #e9e9e9;
	font: 20px 'Avant';
	color: #616161;
}

h6 span {
	font-weight: bold;
	color: #5da725;
}

/* HEADER */

#headerWrap {
	min-height: 379px;
	background: url('../images/bg-header.jpg') repeat-x;
}

#logomarkWrap {
	position: relative;
	z-index: 0;
}

#logomark {
	position: absolute;
	height: 620px;
	width: 960px;
	background: url('../images/bg-logomark.png') 224px no-repeat;
}

#header {
	width: 470px;
	padding: 0 10px;
	float: right;
	position: relative;
	z-index: 1;	
}

#logo {
	padding: 19px 0 21px 10px;
}

ul#topNav {
	font: 24px/29px 'ColabMed';
}

ul#topNav li {
	width: 136px;
	padding-right: 29px;
	float: left;
	background: url('../images/bullet-nav.png') right no-repeat;
	text-align: right;
}

ul#topNav .alt {
	background: none;
	text-align: left;
	padding: 0 0 0 24px;
}

ul#topNav li a {
	color: #ececec;
}

ul#topNav li a:hover, .active {
	color: #dbe58e !important;
}


/* CONTENT */

#featurePic {
	width: 490px;
	margin: -306px 0 0 -12px;
	float: left;
}

#contentHome {
	width: 460px;
	margin-top: 80px;
	float: left;
}

ul.contentHomeList {
	margin-top: 40px;
}

ul.contentHomeList li {
	padding-left: 28px;
	background: url('../images/bullet-nav.png') left 6px no-repeat;
	font: 16px 'Colab';
	line-height: 21px;
	color: #cccccc;
}

ul.contentHomeList li span {
	font: 16px 'ColabBold';
	color: #ececec;
}

#quotes {
	width: 798px;
	margin: 74px auto 50px;
	border-top: 1px solid #776711;
	border-bottom: 1px solid #776711;
	padding: 12px 11px;
}

#quotes p {
	font: 18px/24px 'ColabLight';
	color: #fff;
}

#footer {
	min-height: 36px;
	padding: 20px 0;
	background: url('../images/bg-footer.jpg');
}

#footer p {
	font: 12px/18px 'Arial';
	color: #cccccc;
}