/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2016, 9:14:33 PM
    Author     : Daisy Tudtud
*/

fieldset.add_more div.input {
    width: 100%;
    float: none;
}

fieldset.add_more_row{
    margin-bottom: 25px;
}

a.add_another_row,a.remove-row{
    margin-top: 25px;
    padding:6px;
}
a.remove-row{
    padding:6px 12px;
}