<div class="questionsOptions form">
<?php echo $this->Form->create('QuestionsOption'); ?>
	<fieldset>
		<legend><?php echo __('Edit Questions Option'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
